*/{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    background-image: linear-gradient(rgb(29, 21, 21), rgba(255, 255, 255, 0.575), rgba(128, 23, 23, 0.726) , rgba(255, 255, 255, 0.589) ,rgba(0, 128, 0, 0.733));
    margin: 0%;
  }
/* Style the header */
header{
    align-content: center;
    text-align: center;
    padding: 30px;
    width: 300px;
}
/* create two columns/boxes that flex */
.flag-image{
    background-image: url("../css/pexels-engin-akyurt-15483543.jpg");
    background-color: #cccccc;
    height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    align-content: center;
    color: aliceblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: max-content;
    width: 1900;
}
nav{
    display: flex;
    flex-direction: row row-reverse;
}
/* Style the top navigation bar */
.nav-style{
    overflow: hidden;
}

nav a:hover{
    color: aqua;
}
nav article{
    width: 100;
    height: auto;
}
/* style topnav links */
nav > div{
    display: flex;
    flex-direction: row;
    display: block;
    float: left;
    word-spacing: 400;
    color: chocolate;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}
h2{
    padding: 20px;
    text-align: center;
    font-family: 'Playfair Display' ,sans-serif;
    font-size: 50px;
}
h3{
    margin: 0;
    height: 0;
    width: 0;
    padding: 0;
    text-align: left;
    text-decoration: underline;
    font-family: 'Playfair Display' ,sans-serif;
    font-size: 50px;
}
.about-img {
    height: 200px;
}
p{
    font-family: 'Work Sans', sans-serif;
    font-size: larger;
}
img{
    align-content: center;
}
article{
    margin: 150px;
    padding-top: 0%;
    
}
h4{
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    text-align: left;
    text-decoration: underline ;
}
h5{
    text-align: left;
    text-decoration: underline;
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;

}
/* create two columns side by side */
.about{
    float: left;
    
}
.youtube{
    display: fixed;
    top: 30;
    left: 30;
}
div.Land{
    display: fixed;
    top: 30;
    left: 30;
}
div.Land:hover{
    border: rgb(8, 49, 163);
}
footer{
    text-align: center;
    align-content: center;
}